<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <link rel="stylesheet" href="/stylesheets/style.css" />
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <div class="w-full h-full bg-zinc-900 p-10 text-white">
        <a class="text-blue-500" href="/">Back To Home</a>
      <h1 class="text-3xl tracking-tighter mb-3 mt-10">All User</h1>
      <div class="users flex gap-3 flex-wrap">
        <% if(users.length > 0 ){%>

            <% users.forEach(function(dynamicuser){ %>
                <div class="user max-w-72 p-4 bg-zinc-800 rounded-lg">
    
                    <div class="w-full h-72 rounded-lg bg-zinc-700 overflow-hidden">
                        <img class="w-full h-full object-top" src="<%= dynamicuser.image %>" alt="">
                    </div>
                    <h3 class="text-xl mt-3 tracking-tighter"><%= dynamicuser.name%></h3>
                    <h7 class="text-zinc-500 mt-2 tracking-tighter"><%= dynamicuser.email%></h7>
        
                    <div class="flex gap-3 mt-10">
                        <a class="text-zinc-200" href="/edit/<%=dynamicuser._id %>">Edit User</a>
                        <a class="text-red-500 ml-10" href="/delete/<%= dynamicuser._id%>">Delete User</a>
                    </div>
        
                </div>
           <% }) %>


            <% } else { %>

                <h3 class="text-zinc-500">No Users Yet</h3>
                <%  } %>

        
 
      </div>
    </div>
  </body>
</html>
